{% extends "base.html.twig" %}

{% block title %}reactsymf - accueil
{% endblock %}

{% block body %}

<div class="container mt-4">
<div class="jumbotron">
  <h2 class="display-4">Bienvenue sur Science gaming !</h2>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
</div>

</div>

{% endblock %}
